<% for (var i =0;i<myFirstDatabase.length;i++){%> 
<tr>
  
  
  <td><%=myFirstDatabase[i].UserName%></td>
    <td><%=myFirstDatabase[i].FirstName%></td>
    <td><%=myFirstDatabase[i].LastName%></td>
    <td><%=myFirstDatabase[i].DateOfBirth%></td>
    <td><%=myFirstDatabase[i].Password%></td>
    
    
    <td><a href="/update-user?id=<%=myFirstDatabase[i]._id%>" class="btn border-shadow update">
     <span class ="text-gradient"><i class="fas fa-pencil-alt"></i></span>
     </a>
     
     <a class="btn border-shadow delete" data-id=<%=myFirstDatabase[i]._id%>>
      <span class ="text-gradient"><i class="fas fa-times"></i></span>
      </a>
  </td>
    </tr>
    <%}%>